* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

/* .slide, .selected {
  background: red !important;
} */

span {
  color: #FF4532;
}

a {
  color: white;
}
